<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
   
    <h1 style="text-align: center; color:crimson; text-transform:uppercase">About page</h1><br>
    <p style="text-transform:capitalize; text-align:center; font-size:xxx-large">Hello my name is aman vyas</p>
    <br>
    <h1 style="font-size: xxx-large; text-transform:capitalize; text-align:center;">web developer</h1>
    <p style="text-align: center;"><a style="font-size: large; text-align:center; text-transform:uppercase;" href="/contact">contact me</a></p>
</body>
</html>